
RewriteEngine On
# Turn on the rewriting engine
# dynamic

ErrorDocument 404 /404.htm
ErrorDocument 500 /error.htm

RewriteRule ^sitemap.xml /sitemap.php  [NC,L]
RewriteRule ^rss.xml /rss.php  [NC,L]
RewriteRule ^privacy/cookie-policy /privacy/cookies.php  [NC,L]
RewriteRule ^privacy/privacy-policy /privacy/privacy.php  [NC,L]

RewriteRule ^blog/javascript/enquirejs/([A-Za-z0-9-]+)/ /blog/index.php?post_id=32&category_id=1&pg=$1 [NC,L]
RewriteRule ^blog/javascript/enquirejs/ /blog/index.php?post_id=32&category_id=1 [NC,L]
RewriteRule ^blog/javascript/ /blog/index.php?category_id=1 [NC,L]
RewriteRule ^blog/css/media-queries-for-apple-devices/([A-Za-z0-9-]+)/ /blog/index.php?post_id=30&category_id=3&pg=$1 [NC,L]
RewriteRule ^blog/css/media-queries-for-apple-devices/ /blog/index.php?post_id=30&category_id=3 [NC,L]
RewriteRule ^blog/css/ /blog/index.php?category_id=3 [NC,L]
RewriteRule ^blog/html/html5-forms/([A-Za-z0-9-]+)/ /blog/index.php?post_id=11&category_id=7&pg=$1 [NC,L]
RewriteRule ^blog/html/html5-forms/ /blog/index.php?post_id=11&category_id=7 [NC,L]
RewriteRule ^blog/html/ /blog/index.php?category_id=7 [NC,L]
RewriteRule ^blog/design/introduction-to-responsive-website-design/([A-Za-z0-9-]+)/ /blog/index.php?post_id=17&category_id=8&pg=$1 [NC,L]
RewriteRule ^blog/design/introduction-to-responsive-website-design/ /blog/index.php?post_id=17&category_id=8 [NC,L]
RewriteRule ^blog/design/ /blog/index.php?category_id=8 [NC,L]
RewriteRule ^blog/git/installing-git-on-a-pc/([A-Za-z0-9-]+)/ /blog/index.php?post_id=33&category_id=9&pg=$1 [NC,L]
RewriteRule ^blog/git/installing-git-on-a-pc/ /blog/index.php?post_id=33&category_id=9 [NC,L]
RewriteRule ^blog/git/connecting-to-github/([A-Za-z0-9-]+)/ /blog/index.php?post_id=35&category_id=9&pg=$1 [NC,L]
RewriteRule ^blog/git/connecting-to-github/ /blog/index.php?post_id=35&category_id=9 [NC,L]
RewriteRule ^blog/git/installing-git-on-a-mac/([A-Za-z0-9-]+)/ /blog/index.php?post_id=31&category_id=9&pg=$1 [NC,L]
RewriteRule ^blog/git/installing-git-on-a-mac/ /blog/index.php?post_id=31&category_id=9 [NC,L]
RewriteRule ^blog/git/getting-started-with-git/([A-Za-z0-9-]+)/ /blog/index.php?post_id=34&category_id=9&pg=$1 [NC,L]
RewriteRule ^blog/git/getting-started-with-git/ /blog/index.php?post_id=34&category_id=9 [NC,L]
RewriteRule ^blog/git/ /blog/index.php?category_id=9 [NC,L]